body {
   font-size: 18px;
  line-height: 34px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #777;
  line-height: 34px;


}

#main-container{
  color: black;
  background-color: white;

}

#bubble{
  background: url("images/background3.jpg");
  background: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 50px;
  margin-bottom: 25px;
}

form{
  margin: 25px;
}

#userInput{
  color: black;
  padding: 20px;
}

header{
  font-size: 50px;
  text-align: center;
  font-family: Helvetica, "Helvetica Neue", Helvetica, sans-serif;
  padding:20px;
  font-weight: bolder;
}

#logo{
  height: 100px;
}

#image{
  border-radius: 25px;

}

#cel-image{
  width: 100px;
  margin: 15px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  padding: 1rem;
  background-color: rgba(255,255,255, 0.5);
  text-align: center;
  width:100%;
    }

    #user-image{
  width: 250px;
  margin: 5px;
  align-items: center;
}

#content {
  background-color: white;
  display: flex;
    align-items: center;
    color: black;
}