body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #777;
  line-height: 34px;
<<<<<<< HEAD
  background: url("images/background.jpg");
=======


}

#main-container{
  color: black;
  background-color: white;

}

#bubble{
  background: url("images/background3.jpg");
  background: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 50px;
  margin-bottom: 25px;
>>>>>>> 6687a8d31b299f3600c9f1f03121c9953ac33c53
}

form{
  margin: 25px;
}

#userInput{
<<<<<<< HEAD
	background-color: rgb(47,79,79);
	color: white;
	padding: 20px;
}

header{
	font-size: 50px;
	text-align: center;
	font-family: 'Diplomata SC', cursive;
	padding:20px;
=======
  color: black;
  padding: 20px;
}

header{
  font-size: 50px;
  text-align: center;
  font-family: Helvetica, "Helvetica Neue", Helvetica, sans-serif;
  padding:20px;
  font-weight: bolder;
}

#logo{
  height: 100px;
>>>>>>> 6687a8d31b299f3600c9f1f03121c9953ac33c53
}

#image{
  border-radius: 25px;

}

#cel-image{
  width: 100px;
  margin: 15px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  padding: 1rem;
  background-color: rgba(255,255,255, 0.5);
  text-align: center;
  width:100%;
    }

    #user-image{
  width: 250px;
  margin: 5px;
  align-items: center;
}

#content {
  background-color: white;
  display: flex;
    align-items: center;
    color: black;
}

#loaderIcon{
 display: none;
}


.loader {

   border: 16px solid #f3f3f3 ; /* Light grey */
   border-top: 16px solid #3498db ; /* Blue */
   border-radius: 50%;
   width: 120px;
   height: 120px;
   position: absolute;
   margin-top: 60px;
   margin-left: 300px;
   animation: spin 2s linear infinite;
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}